*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}

/********************HEADER*********************/

header{
    position: fixed;
    background-color: #d69c1a;
    width: 100%;
}

.header-container{
    margin: auto;
    max-width: 1700px;
    padding: 0.5rem;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0 1.8rem;
}

h1{
    display: inline;
}

nav {
    float: right;
    margin: 9px;
}

header li {
    display: inline;
    list-style: none;
}

/********************PRESENTATION*********************/

.presentation{
    height: 720px;
    font-size: 25px;
}

.presentation-video{
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.presentation-video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.presentation-content{
    color: white;
    text-align: center;
    padding: 200px 0;
    margin: auto;
}

#logo{
    margin:auto;
}

.p-container{
    padding: 0.5em;
}

.space{
    padding: 0.3em;
}
/********************ABOUT*********************/

.about{
    height: 1000px;
    font-size: 18px;
}

.about-container{
    width: 50%;
    height: 50%;

}

.about-content{
    text-align: justify;
    padding: 130px 30px;
}

.about-title{
    margin: 2rem;
    text-align: center;
}

#p-about{
    text-align: center;
    font-size: 1.3em;
}

#about-img1{
    background: url(/fotos/local.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-img2{
    background: url(/fotos/local6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/********************GALERIA*********************/

.galeria{
    clear: both;
    font-size: 20px;
    text-align: center;
    background: url(/fotos/local7.jpg);
}

.galeria-inner{
    padding: 3rem;
    color: white;
}

.galeria-title{
    margin: 2rem;
}

.galeria ul{
    padding: 0;
}
.galeria ul li {
    list-style: none;
    padding: 2rem;
}

.galeria ul li div{
    display: inline;
    padding: 4rem;
}
/********************RESERVATION*********************/

.reservation{
    height: 550px;
    text-align: center;
    padding-top: 15%;
}

.form-central{
    display: block;

}

.form-left{
    text-align: center;
    width: 50%;
    height: 300px;
    float: left;
}

.form-right{
    width: 50%;
    height: 300px;
    float: right;
}

.reservation label{
    display: block;
    padding: 1.2rem;
}

input[type="text"],
input[type="time"],
input[type="date"],
input[type="email"],
input[type="number"]{
    width: 12rem;
}

textarea{
    margin: 2rem;
}

input[type="submit"] {
    font-size: 16px;
    margin: 1rem;
    height: 2rem;
    width: 8rem;
    display: block;
    margin: auto;
}

#list {
    list-style: none;
    max-width: 50%;
    margin: 0px auto;
}

.lis {
    border: 1px #ccc solid;
    margin: 10px 0px;
    padding: 15px;
}

.conf {
    background-color: green;
    padding: 7px 12px;
    font-size: 12px;
    border: 0;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin: 2px;
}

.cancel {
    background-color: red;
    padding: 7px 12px;
    font-size: 12px;
    border: 0;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin: 2px;
}

/********************FOOTER*********************/

footer{
    color: rgb(153, 151, 151);
    background-color: black;
    text-align: center;
    height: 2rempx;
    padding: 1rem;
}

#visita{
    margin: 5%;
}


/* Media Query for Mobiles */
@media (max-width: 767px) {
    
    /*******HEADER********/

    header{
        width: 100%;
        padding: 20px;
    }
    #logo-header{
        display: none;
    }
    h1{
        text-align: center;
    }
    nav{
        display: none;
    }

    /*******PRESENTATION********/

    .presentation{
    height: 720px;
    font-size: 20px;
    }

    .presentation-content{
        padding: 250px 0;
        margin: auto;
    }

    #logo{
        width: auto;
    }

    /*******ABOUT********/

    .about{
        display: block;
    }
    
    .about-container{
        width: auto;
        height: auto;
    }
    
    .about-content{
        text-align: justify;
        padding: 130px 30px;
    }
    
    .about-title{
        margin: 2rem;
        text-align: center;
    }
    #about-img1{
        display: none;
    }
    
    #about-img2{
        display: none;
    }
    
    #visita{
        margin-top: 20%;
    }

}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    /*******HEADER********/
    header{
        display: block;
    }
    #logo-header{
        display: none;
    }
    .header-container{
        margin-top: 25px;
        display: center;
        align-items: center;
        justify-content: center;
    }
    nav {
        float: left;
        margin: 9px;
    }
    ul{
        padding: 0;
    }

    /*******PRESENTATION********/

    .presentation{
        height: 720px;
        font-size: 20px;
     }
    
    .presentation-content{
            padding: 250px 0;
            margin: auto;
    }
    
     #logo{
            width: auto;
     }

     /*******ABOUT********/

    .about{
        display: block;
    }
    
    .about-container{
        width: 100%;
        height: auto;
        margin: 2px;
    }
    
    .about-content{
        text-align: justify;
        padding: 130px 30px;
    }
    
    .about-title{
        margin: 2rem;
        text-align: center;
    }

    #about-img1{
        display: none;
    }
    
    #about-img2{
        display: none;
    }

    #visita{
        margin-top: 15%;
    }
}