<header>
    <div class="header-container">
        <h1><a href="/">Mercado del Mezcal</a></h1>
        <nav>
            <ul>
                <li><a href="./">Inicio</a></li>
                <li><a href="./#about">Nosotros</a></li>
                <li><a href="./galeria">Galería</a></li>
                <li><a href="./contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>