<%-  include('../templates/header')   -%>

<%-  include('../templates/nav-bar')   -%>

<section class="galeria" id="galeria">
    <div class="dark-overlay">
        <div class="galeria-inner">
            <br>
            <h2 class="galeria-title">Algunas Marcas</h2>
            <div id="marcas">

            </div>
        </div>
    </div>
</section>

<footer>
    <p>Las achetemeles &copy;. Todos los derechos reservados.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="script-galeria.js"></script>
<%-  include('../templates/footer')   -%>