<%-  include('../templates/header')   -%>

<%-  include('../templates/nav-bar')   -%>

<section class="galeria" id="galeria">
    <div class="dark-overlay">
        <div class="galeria-inner">
            <h2 class="galeria-title">Algunas Marcas</h2>
            <ul>
                <li>
                    <div>Artículo</div> 
                    <div>Precio</div>
                </li>
                <li>
                    <div>Artículo</div>
                    <div>Precio</div>
                </li>
                <li>
                    <div>Artículo</div>
                    <div>Precio</div>
                </li>
                <li>
                    <div>Artículo</div>
                    <div>Precio</div>
                </li>
                <li>
                    <div>Artículo</div>
                    <div>Precio</div>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer>
    <p>Las achetemeles &copy;. Todos los derechos reservados.</p>
</footer>
<%-  include('../templates/footer')   -%>