    <%-  include('../templates/header')   -%>
    
    <%-  include('../templates/nav-bar')   -%>
    
    <section class="presentation" id="presentation">
        <div class="presentation-video">
            <video src="/videos/promo.mp4" autoplay muted loop></video>
        </div>
        <div class="dark-overlay">
            <div class="presentation-content">
                <img id="logo" src="/fotos/logo.jpg" alt="Logo de Mercado del Mezcal" width="200" height="200">
                <h2>Mercado del Mezcal</h2>
                <div class="p-container">
                    <p class="space">Más de cuarenta casas mezcaleras con más de trescientas líneas de</p>
                    <p class="space">mezcales, licores, paletas y cremas de diversos sabores</p> 
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-container left" id="about-img1">
        </div>
        <div class="about-container right about-content">
            <h2 class="about-title">Sobre nosotros</h2>
            <p id="p-about">
                100 Marcas de Mezcales en un solo lugar<br>Cremas, Licores y Cócteles<br> Nieves y Paletas de Mezcal "El Mezcaletero"
                <br>Sal de Gusanitos de Maguey
            </p>
        </div>
        <div class="about-container right" id="about-img2">
            
        </div>
        <div class="about-container left about-content">
            <h2 class="about-title">Nuestra Historia</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores sed provident explicabo harum. Distinctio totam quae rerum nam, nesciunt dolores ullam sapiente atque laborum sit laboriosam eaque voluptatum cupiditate!
            </p>
        </div>
    </section>

    <footer>
        <p>Las achetemeles &copy;. Todos los derechos reservados.</p>
    </footer>
    <%-  include('../templates/footer')   -%>