<%-  include('../templates/header')   -%>

<%-  include('../templates/nav-bar')   -%>
<section class="reservation" id="reservation">
    <br><h2>Formulario de reserva</h2>
    <form action="#">
        <div class="form-central">
            <div class="form-left">
                <label for="">Fecha</label>
                <input type="date" name="" id="">
    
                <label for="">Nombre y Apellido</label>
                <input type="text" name="" id="">
    
                <label for="">Hora</label>
                <input type="time" name="" id="">
            </div>

            <div class="form-right">
                <label for="">E-mail</label>
                <input type="email" name="" id="">
    
                <label for="">Cantidad de comensales</label>
                <input type="number" name="" id="">
                
                <label for="">Teléfono</label>
                <input type="text" name="" id="">
            </div>


            <label for="">Comentarios</label>
            <textarea name="" id="" cols="autoplay" rows="4"></textarea>

            <input type="submit" value="Reservar">
        </div>
</section>

<footer>
    <p>Pizzería &copy;. Todos los derechos reservados.</p>
</footer>
<%-  include('../templates/footer')   -%>